* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: lightblue;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
    background-color: lightblue;
    color: white;
    width: 100%;
    padding: 2rem;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.main-container {
  padding: 1rem;
}

.message-container {
  margin-bottom: 2rem;
  margin-top: 2rem;
  flex-direction: column;
}

.movie-container {
  margin-top: 2rem;
}


.message-container,
.movie-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-tile {
  cursor: pointer;
  margin-right: 3rem;
  border: 5px solid lightblue;
}

.movie-image {
  max-width: 100%; 
  height:auto;
}